<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Transactions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilterOptions()">
        <ion-icon slot="icon-only" [name]="isFiltering() ? 'funnel' : 'filter'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="slider-container">
    <app-budget-slider></app-budget-slider>
  </div>

  <div class="quick-actions ion-padding-vertical">
    <div class="action-item" (click)="openAddTransaction(TransactionType.EXPENSE)">
      <div class="action-btn expense">
        <ion-icon name="remove"></ion-icon>
      </div>
      <span>Expense</span>
    </div>

    <div class="action-item" (click)="openAddTransaction(TransactionType.INCOME)">
      <div class="action-btn income">
        <ion-icon name="add"></ion-icon>
      </div>
      <span>Income</span>
    </div>

    <div class="action-item" (click)="openTransfers()">
      <div class="action-btn transfer">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </div>
      <span>Transfer</span>
    </div>

    <div class="action-item" (click)="showMoreTransactionOptions()">
      <div class="action-btn other">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>
      <span>More</span>
    </div>
  </div>

  @for (group of groupedTransactions(); track group.dateLabel) {

    <div class="ion-padding-start ion-padding-bottom ion-margin-top">
      <ion-text color="medium">
        <small style="font-weight: 700; text-transform: uppercase; letter-spacing: 0.05em; font-size: 0.75rem;">
          {{ group.dateObj | date:'mediumDate' }}
        </small>
      </ion-text>
    </div>

    <ion-card style="border-radius: 24px;">

      <ion-list lines="none" class="ion-no-padding">
        @for (item of group.items; track item.id; let last = $last) {
          <app-transaction-card
            (onClick)="onTransactionClick($event)"
            [transaction]="item"
            [categoryName]="getCategoryName(item.categoryId)">
          </app-transaction-card>
        }
      </ion-list>

    </ion-card>

  } @empty {
    <div class="ion-text-center ion-padding ion-margin-top text-medium">
      <p>No transactions found</p>
    </div>
  }

  <ion-infinite-scroll [disabled]="!hasNextPage()" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
