ion-card.analytics-card {
  border-radius: 24px;
  background: var(--ion-card-background);
  margin-top: 10px;
}

ion-card.list-card {
  border-radius: 24px;
  margin-top: 10px;
}

.chart-container {
  position: relative;
  min-height: 270px; // chart height... Too low and tags stack on top of each other.
  width: 100%;
}

.category-item-wrapper {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .progress-wrapper {
    margin-top: 5px;

    ion-progress-bar {
      height: 6px;
      border-radius: 3px;
    }

    .progress-labels {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;

      .text-tiny {
        font-size: 0.75rem;
      }
    }
  }
}

.filter-text {
  font-weight: 600;
  display: flex;
  align-items: center;
}
