<form #transactionForm [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div>
    <app-field-error
      [errors]="errors()"
      fieldName=""></app-field-error>

    <div class="ion-margin-top">
      <app-select formControlName="type" [options]="transactionTypeOptions"></app-select>
      <app-field-error [errors]="errors()" fieldName="type"></app-field-error>
    </div>

    <div class="ion-margin-top">
      <app-input
        type="number"
        placeholder="Amount"
        formControlName="amount"
        [errors]="errors()"></app-input>
    </div>

    <div class="ion-margin-top">
      <app-date-picker
        [errors]="errors()"
        label="Date"
        formControlName="dateCreated"></app-date-picker>
    </div>

    <div class="ion-margin-top">
      <app-input
        type="textarea"
        placeholder="Comment"
        formControlName="comment"
        [errors]="errors()"></app-input>
    </div>

    <div class="ion-margin-top">
      <app-category-select-control formControlName="categoryId"
                                   [budgetId]="budgetId()"></app-category-select-control>
      <app-field-error [errors]="errors()" fieldName="categoryId"></app-field-error>
    </div>

   <div class="ion-margin-top">
     <app-tag-multiselect-control
       [budgetId]="budgetId()"
       [form]="form"
       [shouldInitTags]="initTags()"
       [existingTags]="transaction()?.tags"></app-tag-multiselect-control>
   </div>

    <div class="ion-margin-top ion-text-end">
      <ion-button [form]="transactionForm"
                  type="submit"
                  [disabled]="!form.valid">Save
      </ion-button>
    </div>
  </div>
</form>
