<form #transactionForm [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div>
    <app-field-error
      [errors]="errors()"
      fieldName=""></app-field-error>

    <div class="ion-margin-top">
      <app-select formControlName="type" [options]="transactionTypeOptions"></app-select>
      <app-field-error [errors]="errors()" fieldName="type"></app-field-error>
    </div>

    <div class="ion-margin-top">
      <app-input
        type="number"
        placeholder="Amount"
        formControlName="amount"
        [errors]="errors()"></app-input>
    </div>

    <div class="ion-margin-top">
      <app-date-picker
        [errors]="errors()"
        label="Date"
        formControlName="dateCreated"></app-date-picker>
    </div>

    <div class="ion-margin-top">
      <app-input
        type="textarea"
        placeholder="Comment"
        formControlName="comment"
        [errors]="errors()"></app-input>
    </div>

    <div class="ion-margin-top">
      <app-select formControlName="categoryId" [options]="categoryOptions"></app-select>
      <app-field-error [errors]="errors()" fieldName="categoryId"></app-field-error>
    </div>

   <div class="ion-margin-top">
     <app-select-search
       label="Tag"
       placeholder="Pick Tags"
       [payload]="tagsPayload()"
       [clearOnSelect]="true"
       [(searchTerm)]="searchTerm"
       (selectionChange)="onTagChange($event)"
       (loadMore)="onTagLoadMore($event)">
     </app-select-search>

     @if (selectedTags().length > 0) {
       <div class="ion-padding-top" style="display: flex; flex-wrap: wrap; gap: 4px;">
         @for (tag of selectedTags(); track tag.id) {
           <ion-chip (click)="removeTag(tag.id)" [outline]="true" color="medium">
             <ion-label>{{ tag.tagName }}</ion-label>
             <ion-icon name="close-circle"></ion-icon>
           </ion-chip>
         }
       </div>
     }
   </div>

    <div class="ion-margin-top ion-text-end">
      <ion-button [form]="transactionForm"
                  type="submit"
                  [disabled]="!form.valid">Save
      </ion-button>
    </div>
  </div>
</form>
