@if (upcomingTransactions().length) {
  <ion-card class="preview-card">
    <ion-card-header class="ion-no-padding">
      <div class="header-row ion-padding-horizontal ion-padding-top">
        <div class="title-section">
          <ion-icon name="time-outline" color="primary"></ion-icon>
          <ion-text color="light">
            <h4 class="card-title">Upcoming ({{ totalUpcomingTransactions() }})</h4>
          </ion-text>
        </div>

        <ion-button
          fill="clear"
          size="small"
          class="filter-btn"
          color="medium">
          <span>Until {{ currentMaxDate() | date:'MM/dd' }}</span>
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">

      <ion-list lines="none">
        @for (item of upcomingTransactions(); track item.id) {
          <ion-item [button]="true" [detail]="false" class="transaction-item">
            <div slot="start" class="type-icon" [ngClass]="item.type">
              <ion-icon [name]="getIcon(item.type)"></ion-icon>
            </div>

            <ion-label>
              <h3 class="category-name">{{ getCategoryName(item.categoryId) }}</h3>
              <p class="meta-info">
                <span class="date">{{ item.nextDate | date: 'mediumDate'  }}</span>
                <span class="dot">•</span>
                <span class="recurrence">{{ RRuleUtils.toHumanReadableText(item.recurringRule) }}</span>
              </p>
            </ion-label>

            <div slot="end" class="amount-wrapper">
              <ion-text [color]="getColor(item.type)" class="amount">
                {{ getSign(item.type) }}{{ item.amount | currency }}
              </ion-text>
              @if (item.autoExecute) {
                <div class="auto-badge">Auto</div>
              }
            </div>
          </ion-item>
        }
      </ion-list>

    </ion-card-content>
  </ion-card>
}
