:host {
  &.ng-invalid {
    ion-input {
      border-bottom: 1px #f8bd4b solid;
    }

    &.ng-dirty {
      ion-input {
        border-bottom: 1px darkred solid;
      }
    }
  }
}

ion-input {
  width: 100%;
}
