:host {
  &.ng-invalid  {
    ion-input, ion-textarea {
      border-bottom: 1px #f8bd4b solid;
    }

    &.ng-dirty {
      ion-input, ion-textarea  {
        border-bottom: 1px darkred solid;
      }
    }
  }
}

ion-input, ion-textarea {
  width: 100%;
}
