<ng-container>
  <ion-input (touchend)="inputTouched($event)"
             (change)="inputChanged($event); changeEnded($event);"
             (keyup)="inputChanged($event)"
             labelPlacement="floating"
             [value]="value || ''"
             [disabled]="disabled"
             [label]="placeholder"
             [name]="formControlName"
             [type]="type"
             [id]="inputId" [placeholder]="placeholder"></ion-input>
  <app-field-error *ngIf="formControlName"
                   [errors]="errors"
                   [fieldName]="formControlName + ''"></app-field-error>
</ng-container>
