<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Revisions</ion-title>
    <ion-buttons slot="end">
<!--      <ion-button (click)="presentFilterOptions()">-->
<!--        <ion-icon slot="icon-only" [name]="isFiltering() ? 'funnel' : 'filter'"></ion-icon>-->
<!--      </ion-button>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="slider-container">
    <app-budget-slider></app-budget-slider>
  </div>


  <div>
    {{ budget().budgetName }}
  </div>
</ion-content>
