:host {
  display: block;

  &.ng-invalid  {
    .ctrl {
      border-bottom: 1px #f8bd4b solid;
    }

    &.ng-dirty {
      .ctrl  {
        border-bottom: 1px darkred solid;
      }
    }
  }
}

.ctrl {
  width: 100%;
}

.input-display {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  width: 100%;
}

ion-modal {
  --width: 100%;
  --height: 100%;

  @media(min-width: 768px) {
    --width: 400px;
    --height: 600px;
    --border-radius: 16px;
    --box-shadow: 0 28px 48px rgba(0,0,0,0.4);
  }
}
