<ion-item
  class="ctrl"
  (click)="openModal()"
  [class.ion-disabled]="disabled()"
  [button]="true"
  [detail]="false"
  lines="full">

  <ion-label position="stacked" color="medium">{{ label() }}</ion-label>

  <div class="input-display">
    <ion-text [color]="selectedItem() ? 'dark' : 'medium'">
      {{ selectedItem()?.key || placeholder() }}
    </ion-text>
  </div>

  <ion-icon slot="end" name="chevron-down" color="medium"></ion-icon>
</ion-item>

<ion-modal
  [isOpen]="isModalOpen()"
  (didDismiss)="closeModal()"
  [initialBreakpoint]="0.75"
  [breakpoints]="[0, 0.75, 1]">

  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ label() }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar
          [placeholder]="searchPlaceholder()"
          [value]="searchTerm()"
          (ionInput)="onSearchChange($event)"
          [debounce]="400">
        </ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item [button]="true" (click)="onItemSelect({key: 'None', value: null!, objRef: null!})" lines="full">
          <ion-label color="medium">
            <em>None</em>
          </ion-label>
        </ion-item>

        @for (item of items(); track item.value) {
          <ion-item [button]="true" (click)="onItemSelect(item)" lines="full">
            <ion-label>
              {{ item.key }}
            </ion-label>
            @if(selectedItem()?.value === item.value) {
              <ion-icon name="checkmark" slot="end" color="primary"></ion-icon>
            }
          </ion-item>
        } @empty {
          <div class="ion-padding ion-text-center">
            <ion-text color="medium">No results found</ion-text>
          </div>
        }
      </ion-list>

      <ion-infinite-scroll
        [disabled]="!hasNextPage()"
        (ionInfinite)="onInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
  </ng-template>
</ion-modal>
