//@import "../../../assets/styles/variables";
//
//.login-form {
//  min-width: 600px;
//  margin: 0 auto;
//
//  @media screen and (max-width: $screen-md) {
//    min-width: unset;
//    width: 100%;
//  }
//}
