:host {
  &.ng-invalid  {
    .ctrl {
      border-bottom: 1px #f8bd4b solid;
    }

    &.ng-dirty {
      .ctrl  {
        border-bottom: 1px darkred solid;
      }
    }
  }
}

.ctrl {
  width: 100%;
}
