
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Budgets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentBudgetQueryActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    @for (item of budgets(); track item.id) {
      <app-budget-card
        (editTriggered)="openEditBudgetModal($event)"
        [budget]="item"
        (click)="navigateToDetails(item.id)">
      </app-budget-card>
    }
  </ion-list>
</ion-content>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="openCreateBudgetModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
