<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="{{ Routes.TAB_1_REVISIONS.path }}"
      href="{{ Routes.TAB_1_REVISIONS.toString() }}">
      <ion-icon aria-hidden="true" name="timer-outline"></ion-icon>
      <ion-label>Revision</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="{{ Routes.TAB_2_ANALYTICS.path }}"
      href="{{ Routes.TAB_2_ANALYTICS.toString() }}">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="{{Routes.TAB_3_TRANSACTIONS.path }}"
      href="{{ Routes.TAB_3_TRANSACTIONS.toString() }}">
      <ion-icon aria-hidden="true" name="swap-horizontal-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="{{Routes.TAB_4_BUDGETS.path }}"
      href="{{ Routes.TAB_4_BUDGETS.toString() }}">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="{{ Routes.TAB_5_PROFILE.path }}"
      href="{{ Routes.TAB_5_PROFILE.toString() }}">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
