:host {

  &.ng-invalid {
    ion-item {
      //border-bottom-color: #f8bd4b;
      border-bottom: 1px #f8bd4b solid;
    }

    &.ng-dirty {
      ion-item {
        //border-bottom-color: darkred;
        border-bottom: 1px darkred solid;
      }
    }
  }
}
