<!--<div class="form-floating">-->
<!--  -->
<!--  <select (touchend)="inputTouched($event)"-->
<!--          (change)="inputChanged($event)"-->
<!--          (keyup)="inputChanged($event)"-->
<!--          [value]="value"-->
<!--          [name]="formControlName"-->
<!--          class="form-control"-->
<!--          [disabled]="disabled"-->
<!--          [id]="elementId">-->
<!--    <option [disabled]="opt.disabled"-->
<!--            *ngFor="let opt of options"-->
<!--            [attr.selected]="value === opt.value ? true : null"-->
<!--            [value]="opt.value">{{ opt.key }}-->
<!--    </option>-->
<!--  </select>-->
<!--  <label [for]="elementId">{{ placeholder }}</label>-->
<!--  <app-field-error *ngIf="formControlName" [errors]="errors" [fieldName]="formControlName"></app-field-error>-->
<!--</div>-->

<ion-item>
  <ion-select
    (ionChange)="inputChanged($event)"
    [value]="value"
    [name]="formControlName"
    [disabled]="disabled"
    [id]="elementId"
  >
    @for (opt of options; track opt.key) {
      <ion-select-option
        [disabled]="opt.disabled || false"
        [value]="opt.value">{{opt.key}}
      </ion-select-option>
    }

  </ion-select>
  @if (formControlName) {
    <app-field-error [errors]="errors" [fieldName]="formControlName"></app-field-error>
  }
</ion-item>
